@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Submission recieved for " + Model.Title + ". Thank you!";
}

@model Assignment3.Models.MovieResponse

<div>
    <h2>Your submission will be processed shortly.</h2>
    <!--If statement to say that Independence Day cannot be added to the movie list-->
    @if (Model.Title == "Independence Day")
    {
        @:Sorry, we are unable to add Independence Day to our list of movies.
    }
    else
    {
        @:This entry has been added!
    }
</div>

<div>
    Click <a asp-controller="MovieResponses" asp-action="Index">here</a> to see the movie list.
</div>
