@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Enter a Movie";
}

@model Assignment3.Models.MovieResponse

<form asp-action="EnterMovies" method="post">
    <!--These inputs relate to the model
        the asp-for is what sends the info to the model-->
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title"/>
    </div>
    <br />

    <div>
        <label asp-for="Category">Category:</label>
        <input asp-for="Category" />
    </div>
    <br />

    <div>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" />
    </div>
    <br />

    <div>
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" />
    </div>
    <br />

    <div>
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="">Select One</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
    </div>
    <br />

    <div>
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <br />

    <div>
        <label asp-for="LentTo">Lent to:</label>
        <input asp-for="LentTo" />
    </div>
    <br />

    <div>
        <label asp-for="Notes">Notes:</label>
        <textarea rows="3" asp-for="Notes" maxlength="25"></textarea>
    </div>
    <br />

    <button type="submit">Submit Movie</button>
    <div asp-validation-summary="All"></div>
</form>

