@{ 
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <p>Welcome!</p>
    <br />
    <img src="~/JoelHilton.jpg" width="700" />
</div>

<a asp-action="EnterMovies">Click here to add movies</a>